##### Question 1

In [1]:
"""

* --> Expression (Multiplication)

"hello" --> Values (String)

-87.8 --> Values (Float)

- --> Expression (Substraction)

/ --> Expression (Division)

+ --> Expression (Addition)

6 --> Values (Integer)

"""

'\n\n* --> Expression (Multiplication)\n\n"hello" --> Values (String)\n\n-87.8 --> Values (Float)\n\n- --> Expression (Substraction)\n\n/ --> Expression (Division)\n\n+ --> Expression (Addition)\n\n6 --> Values (Integer)\n\n'

##### Question 2

**Variable** = These are objects or entities which store value/data. They are reserved memory locations. They can be of different datatypes - integer, float, string, boolean, complex, list, tuples, set, dictionary. Variable name cannot start with a number or have any special characters other than "_"

**String** = It is a specific datatype that is assigned to a variable. It is a bit of text that needs to be enclosed in double or single quotes for single line strings and triple quotes for multi-line strings.

##### Question 3

**Integers:** Example --> (1,2,3,-9,-7,...)
**Float:** Example --> (1.0,2.4,-4.7,...)
**String:** Example --> ("Ronnie","abc",...)

##### Question 4

An expression is made up of a combination of operators and operands to produce a new value. They are evaluated as per operator precendence.

1. Parenthesis
2. Exponent
3. Unary
4. Multiplication, Division
5. Addition, Substraction
6. "<<" (BIT Left Shift)
7. ">>" (BIT Right Shift)
8. BIT AND
9. BIT XOR
10. BIT OR
11. Comparison Operator
12. Equality Operator
13. Assignment Operator
14. Membership Operator
15. Logical Operator

##### Question 5



**Expression** execution with use of opeators always leads to the result.

**Statement** - execution of a statement may not display a result. It just executes the line

##### Question 6

In [2]:
bacon = 22
bacon+1

23

##### Question 7

In [3]:
"spam"+"spamspam"

'spamspamspam'

In [4]:
"spam"*3

'spamspamspam'

##### Question 8

 The variable naming convention:
 
 1. I should contain characters from [a-z] or [A-Z] or a combination of both
 2. It should not start with a number
 3. The only special character allowed is "_" (underscore)
 4. The variable name can begin only with a letter or an underscore
 
 
 Based on the above "eggs" is a valid name while 100 starts with the number 1 which is not a valid variable name

##### Question 9

 int()
 float()
 str()

In [8]:
int(9.0)

9

In [9]:
float(7)

7.0

In [10]:
str(9)

'9'

 ##### Question 10

The expression causes and error because we are trying to concatenate a string with an integer which are both different data types.

The solution is to convert 99 into string and then concatenate

In [12]:
"I have eaten " + str(99) + " burritos."

'I have eaten 99 burritos.'